<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>CBC FSI</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<div class="page">
			<div class="header">
				<a href="/" id="logo"><img src="{{ url_for('static', filename='images/fortinet_logo.png') }}" alt=""/></a>
				<ul>
					<li class="selected"><a href="/">Home</a></li>
					<li><a href="login">Login</a></li>
					<li><a href="registration">Registration</a></li>
				</ul>
			</div>
			<div class="body">
				<div id="featured">
					<h3>Fortinet Customer Briefing Center for Financial Services Sector v.1</h3>
				</div>
			</div>
			<div class="footer">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="login">Login</a></li>
					<li><a href="registration">Registration</a></li>
				</ul>
				<p>&#169; Copyright &#169; 2023 Fortinet, Inc. All Rights Reserved.</p>
				<div class="connect">
					<a href="http://facebook.com/Fortinet" id="facebooknew-17Aug">facebook</a>
					<a href="http://twitter.com/Fortinet" id="twitternew-17Aug">twitter</a>
					<a href="http://www.youtube.com/Fortinet" id="vimeonew">vimeo</a>
				</div>
			</div>
		</div>
	</body>
</html>  
